[defaults]
inventory         = inventory/aws_ec2.yml
remote_user       = ec2-user
private_key_file  = ~/.ssh/id_ed25519
host_key_checking = False
stdout_callback   = default
result_format     = yaml
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_extra_args = -o StrictHostKeyChecking=no -o "ProxyCommand=aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p"
